.profileContainer{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
    margin-top: 15rem;
}

.profileParent{
    display: flex;
    align-items: center;
    color: aliceblue;
    justify-content: 'center';
}

.profileDetails{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profileDetailsName{
    font-size: 24px;
    font-family: "Poppins SemiBold";
}

.profileDetailsRole{
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px;
    justify-content: center;
    align-items: center;
}

.profileDetailsRole h1{
    font-size: 40px;
    font-family: cursive;
}

.primaryText{
    color: var(--white)
}

.highlightedText{
    color: var(--dark-orange)
}

.profileRoleTagline{
    font-size: 19px;
    margin: 5px 0 0 0;
    font-family: "Poppins Light";
}

.colzIcon{
    color: white;
    padding: 8px;
    padding-left: 0px;
}

.colzIcon :hover{
    transform: scale(1.5);
}

@media screen and (max-width: 1110px){
    .profileDetailsName{
        font-size: 20px;
    }
    .profileDetailsName{
        font-size: 12px;
    }
    .primaryText{
        font-size: 12px;
    }
}

