.navButton {
  cursor: pointer;
}

.navButton:hover {
  color: rgb(189, 0, 0);
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 0.8rem 5rem;
  align-items: center;
  position: fixed;
  width: 100%;
  color: white;
  transition: background-color 0.5s ease;
}
